body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color-font{
    color: orange;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient( orange, tomato);
    padding: 15px 35px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.half-width img{
    width: 40%;
}
.flexible-container{
    display: flex;
}
.section-stylegiven{

}
.middle-banner{
    background-image: url(shapes/7.png);
   
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}
.center{
    text-align: center;
    
}
#black-color{
    background-color:black;
    color: white;
}
.new1{
    width:50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
    
    
    
    

.gray-color-text{
    color: rgba(180, 194, 209, 0.644);
}

.recipies-item{
    width:100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}
.social-media{
    background-color:powderblue;
}